.blog-page{
    margin-top: 50px;
}
.blog-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}
.jacob{
    color: dodgerblue;
}
.date-title-blog{
    color: grey;
}
.blog-blue{
    color: dodgerblue;
}
.blog-bold{
    font-weight: bold;
}